{% load static %}
<div class="grid-x top-bar">
  <div class="cell navegacion" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image cabe" src="{% static 'img/cabecera_.png' %}"  alt="Space">
          <figcaption class="orbit-caption">Sistemas de control RammerBot.</figcaption>
        </figure>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'img/cabecera.png' %}"alt="Space">
          <figcaption class="orbit-caption">Conectamos tu empresa con el futuro</figcaption>
        </figure>
      </li>
    </ul>
  </div>    
  
</div>